body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container{
    height: 800px;
    width: 800px;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
}

.big{
    display: flex;
    flex-grow: 1;
}

.small{
    border: 1px solid black;
    flex-grow: 1;
}

.btn {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 20px;
    font-size: 24px;
}